$cream: #FFFACA;
$Mikado_Yellow: #FFC500;
$safety_orange: #FD6202;
$dark_red: #881600;
$dark_bean: #4E0110;

.popover{
  text-align: center;
  padding: 15px;
  background-color: $cream;
  color: $dark_red;
}
