$cream: #FFFACA;
$Mikado_Yellow: #FFC500;
$safety_orange: #FD6202;
$dark_red: #881600;
$dark_bean: #4E0110;


#word{
  position: absolute;
  top: 27%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: xx-large;
  color: $safety_orange;
}
.action{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
}
#cash ion-input{
  font-size: x-large;
}

ion-content{

  --ion-background-color: #FFFACA;// jsp pk la variable sass marche pas ici, donc j'ai mis le code hexa
}

.queen{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 72%;

  height: 11em;
}

ion-progress-bar{
  --ion-color-primary: #FD6202;
}

