#title{
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  text-align: center;
}

#menu{
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
}

#menu ion-button{
  margin-bottom: 10px;
}
