$cream: #FFFACA;
$Mikado_Yellow: #FFC500;
$safety_orange: #FD6202;
$dark_red: #881600;
$dark_bean: #4E0110;


#menu{
  position: relative;
  left: 0;
  right: 0;
  z-index: 99;
}

.bouttons{
  outline-color: #0d0d0d;
  border-color: #0d0d0d;
  --ion-background-color: blue(#fffff);

  color: #0d0d0d;
  margin-bottom: 10px;
  navbutton_home_hovered: adjust-hue($dark_red,10);//ça marche pas
}

.logo{
  position: relative;
  display: flex;

  height: 30%;


  left: 0;
  right:0;
  margin: 5% auto 0 auto;

}

.premier_row{
  height: 140px;
}

ion-content{

  --ion-background-color: #FFFACA;// jsp pk la variable sass marche pas ici, donc j'ai mis le code hexa
}

ion-grid{
  position: relative;
  height: 100%;
  bottom: 0;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  grid-row-gap: 0;
  grid-gap: 0;
}
.big_title{
  position: relative;
  display: flex;
  flex-flow: column;
  top: 0;
  margin-top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-family: Pacifico;
  font-size: 60px;
  text-shadow: 1px 1px 1px black;
  color: $safety_orange;
}
.queen{
  position: relative;
  display: flex;

  text-align: center;
  margin: auto;
  width: 30%;
}

.last_row{
  position: absolute;
  bottom: 0;
}
