<ion-content [fullscreen]="true">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Pacifico">
  <ion-header>
    <div id="title">
      <img src="assets/crown.svg" class="logo" >
      <h1 class="big_title">Crown</h1>
    </div>
  </ion-header>

        <div id="menu">
          <ion-button class="bouttons" expand="block" size="large" fill="outline" color="danger" [routerLink]="['/selection']" (click)="play_correct()">Jouer</ion-button>
          <ion-button class="bouttons" expand="block" size="large" fill="outline" color="danger" (click)="play_correct()" >Importer</ion-button>
          <ion-button class="bouttons" expand="block" size="large" fill="outline" color="danger" (click)="option_click()">Options</ion-button>
        </div>
  <img src="assets/queen_borderless.svg" class="queen">

</ion-content>
