$cream: #FFFACA;
$Mikado_Yellow: #FFC500;
$safety_orange: #FD6202;
$dark_red: #881600;
$dark_bean: #4E0110;

#title{
  margin: 10%;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  text-align: center;


}

#menu{
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
}

.bouttons{
  outline-color: #0d0d0d;
  border-color: #0d0d0d;
  --ion-background-color: blue(#fffff);

  color: #0d0d0d;
  margin-bottom: 10px;
  navbutton_home_hovered: adjust-hue($dark_red,10);//ça marche pas
}

.logo{
  height: 100px;
}

ion-content{

  --ion-background-color: #FFFACA;// jsp pk la variable sass marche pas ici, donc j'ai mis le code hexa
}
.big_title{
  text-shadow: 1px 1px 1px black;
  text-align: center;
  font-family: Pacifico;
  font-size: 60px;
  color: $safety_orange;
}
.queen{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 72%;

  height: 11em;
}

